@charset "utf-8";
h3{
    font-weight: bold;
    font-size: 30px;
    margin-bottom:50px;
}

/* 이미지 배너 */
.rolling{
    text-align: center;
    background-color: rgb(239, 243, 250)
}
/* 중간 네비바 */


/* 중간 네비 하단 */
.middlesub>ul{
    display:flex;
    justify-content:center;
}
.middlesub>ul>li{
    margin: 0 20px;
}
.middlesub>ul>li>a{
    text-decoration: none;
    color: #999;
    font-weight: bold;
    font-size: 20px;
}

/* 상품카테고리 */
.product{
    display:flex;
    justify-content: center;
    margin-top:50px;
}
.product>div{
    display:flex;
    flex-direction: column;
   
}


.product>div>ul{
    display:flex;
}

.product>div>ul>li{
    flex-direction: row;
    text-align: center;
    align-items: center;
    border:1px solid #fff;
    background-color:#fff;
    font-weight: bold;
    width:90px;
    height:80px;
    border-radius:80px;
    padding-top:10px;
}

.product>div>ul>li>a{
    color: #111;
}
.servicetab{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-top:50px;
    
}
.servicetab>h3{
margin-right:920px;
}

.service {
    display: flex;

}
.servicecell{
    margin: 0 20px;
    border: 1px solid #ccc;
}
.servicecell>a>div{
    text-align: center;
    margin: 10px 0;
}
.servicecell>a>div>h4{
    font-size:25px;
    margin: 15px 0;
    color: #555;
}
/* 새소식 및 이벤트----------------------------------- */
.news_event{
    background-color: rgb(243, 251, 255);
    height:180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 60px 0;
}
.news_event>div>ul{
    display: flex;
    
}
.news_event>div>ul>li{
    margin:10px;
}
td{
    height:30px;
    font-size:15px;
}

h5{
    font-size:20px;
}